.kepler-poll-form .add-poll-result {
    background: #ececec;
    padding: 10px 10px 10px;
    margin: 10px 0px;
    display: none;
}


.kepler-poll-form input.form-control {
    margin-bottom: 12px;
}

.kepler-poll-form .btn {
    border-radius: 0;
}

.kepler-poll-form button[type=submit] {
    margin-top: 50px;
}